
.home{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
  }
.content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    text-align: center;
    margin-left: 230px;
    margin-top: 350px;
    font-family: "Rajdhani", system-ui;
    font-size: 15px;
    cursor: pointer;
  }
  .content1{
    color: black;
    font-family: "Rajdhani", system-ui;
    font-size: 15px;
    text-align: center;
  }
  .logo{
    font-family: "Barlow Semi Condensed", sans-serif;
  }

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .h2{
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    font-family: "Rajdhani", system-ui;

  }
  .row-cols-4{
    display: flex;
    justify-content: center;
  }
 
 

 .ho{
    background: url(https://ap.louisvuitton.com/images/is/image//content/dam/lv/editorial-content/New-Homepage/2024/central/collections/women_slg/Women_SLG_Focus_Option2_WW_HP_Push_20240809_DI3.jpg?wid=2400);
    background-attachment: fixed;

    height: 700px;
    width: 100%
 }
 .card-text1{
  font-size: 13px;
  text-align: left;
 }
 .noo{
  font-size: 13px;
  text-align: left;
  color: rgb(122, 121, 121);

 }
 .nool{
  font-size: 17px;
  text-align: center;
  color: rgb(117, 117, 117);

 }
 .row-cols-3{
  display: flex;
 }
 .po{
  text-align: center;
  font-size: 15px;
  cursor: pointer;
 }
 .container {
  margin: 0 auto;
  padding: 4rem;
  width: 28rem;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}


.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-size: 13px;

}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;

}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #000000;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 12px;
  font-weight: 300;
  margin: 2em 0;
}
.h4{
  font-family: "Barlow Semi Condensed", sans-serif;
}
@media screen and (max-width:400px){
  .home video{
    width: 500px;
    height: 700px;
    
  }
  .home{
    width: 500px;
    height: 600px;
  }
  .content{
    width: 150px;
    margin: 25%;
    margin-top: 450px;
  }
  .row{

width: 1200px;

  }
  
  .hom video{
    width: 1200px;
    height: 500px;
    margin-left: -550px
    
  }
  header{

  width: 100px;
  height: 200px;
  }
  .nav a{
    width: 20px;
    text-align: justify;

  }
  .social-media a {
    width: 20px;
    text-align: justify;
  }
 
  
}
  
